body{
    background-color: aliceblue;
}

.label {
    display: block;
    font: 1px, sans-serif;
    float: right;
}

input,
label {
    margin: 1px 0;
}

.container {
    text-align: center;
}

#aside #uk-card-body {
    width:80%;
    margin:0px auto;
}

#team-searched {
    display:none;
}

h1, h2, h3, h4 {
    text-align: center;
}


#social-wrap {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:50%;
    margin:0px auto;
    margin-top:2.5em;
}

#social-0,
#social-1,
#social-2,
#social-0 img,
#social-1 img,
#social-2 img {
    width:30%;
}

h4 {
    margin-top:0;
}

#lastGame {
    border-bottom:1px solid gray;
    margin-bottom:1em;
}

#mainCard, #aside {
    margin-bottom:5%;
}

button:hover {
    cursor: pointer;
}

#teamList {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}

#video-container .appended-data {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}

#backToLeagues {
    margin:0px auto;
    text-align:center;
    padding-bottom:3%;
    display:none;
}
#video-container {
    display: grid;
    grid-template-columns: repeat(3);
    grid-auto-columns: ;
}
