/* ------------------------------------- */
/* -----------General Styles------------ */
/* ------------------------------------- */

html {
    background-color: aliceblue;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------------- */
/* ----------Input/Nav Styles----------- */
/* ------------------------------------- */

.label {
    display: block;
    font: 1px, sans-serif;
    float: right;
}

input,
label {
    margin: 1px 0;
}

#teamList {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}

#backToLeagues {
    margin:0px auto;
    text-align:center;
    padding-bottom:3%;
    display:none;
}

.uk-search.uk-search-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    height: 100%;
    margin:0;
}

/* ------------------------------------- */
/* -------------Text Styles------------- */
/* ------------------------------------- */

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

h4 {
    margin-top:0;
}

header {
    display:flex;
    flex-direction:row;
    padding-top:3%;
    padding-bottom:3%;
}

header h1 {
    margin:0 !important;
    text-shadow: 2px 2px 10px cadetblue;
    font-size: 3.5rem;
}

p {
    word-wrap:break-word;
}

h1, h2, h3, h4, p {
    color:navy;
}

#headerH1:hover {
    text-decoration: none;
}

a, a:hover {
    color: cadetblue;
}

.lastSearched {
    text-align:center;
}



/* ------------------------------------- */
/* -------------Card Styles------------- */
/* ------------------------------------- */

.container {
    text-align: center;
}

#aside #uk-card-body {
    width:80%;
    margin:0px auto;
}

#team-searched {
    display:none;
}

#social-wrap {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:50%;
    margin:0px auto;
    margin-top:2.5em;
}

#social-0,
#social-1,
#social-2,
#social-0 img,
#social-1 img,
#social-2 img {
    width:30%;
}

#lastGame {
    border-bottom:1px solid gray;
    margin-bottom:1em;
}


#mainCard, #aside {
    margin-bottom:5%;
}

/* ------------------------------------- */
/* ------------Video Styles------------- */
/* ------------------------------------- */

#video-container .appended-data {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}